.board {
    display: grid;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid black;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.square.black {
    background-color: dodgerblue;
}

.square.white {
    background-color: whitesmoke;
}

.piece {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.selected {
    border: 2px solid red;
}

.available {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    position: absolute;
    background-color: green;
}