.board {
    display: grid;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid black;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.square.black {
    background-color: dodgerblue;
}

.square.white {
    background-color: whitesmoke;
}

.piece {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.selected {
    background-color: rgba(65, 168, 55, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.available {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.available.free {
    background-color: green;
}

.available.occupied {
    background-color: rgba(227, 59, 29, 0.7);
}

.timer {
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    margin: auto;
}

.timer p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}